.box{
    
    width: 150px;
    height: 150px;
    background-color: red;
    position: relative;
 

}

body{
    height:100vh;
    justify-content: center;
    display:flex;
    align-items: center;
}


.box:hover{
    background-color: blue;
    width: 300px;
    border-radius:10px;
    transition: background-color 7s;
    /*transition-property: width;*/
    /*transition-duration: 2s;*/
    /* transition-timing-function: 2s ease-in-out 3s; */
    transition: width 2s, background-color 3s;
}   

